<html>
<head>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
</head>
<body id="main_body" >	
<div id="form_container">
<form id="form_385393" class="appnitro"  method="post" action="/admin/video">
<div class="form_description">
<h2>Edit Video</h2>
</div>						

<ul >
<li id="li_0" >
<label class="description" for="vimeoID">Identifier</label>
<div><input id="element_0" name="vimeoID" class="element text medium" type="text" maxlength="255" value="___vimeoID"/></div>
</li>

<li id="li_1" ><label class="description" for="title">Title</label>
<div><input id="element_1" name="title" class="element text medium" type="text" maxlength="255" value="___title"/> </div>
</li>

<li id="li_2" ><label class="description" for="artist">Artist</label>
<div><input id="element_2" name="artist" class="element text medium" type="text" maxlength="255" value="___artist"/> </div> 
</li>

<li id="li_3" ><label class="description" for="label">Label </label>
<div><input id="element_3" name="label" class="element text medium" type="text" maxlength="255" value="___label"/> </div> 
</li>

<li id="li_4" ><label class="description" for="director">Director</label>
<div><input id="element_4" name="director" class="element text medium" type="text" maxlength="255" value="___director"/> </div> 
</li>

<li class="buttons">
<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
<input id="saveForm" class="button_text" type="submit" name="submit" value="Retire" />
</li>

</ul>
</form>
</div>
<a href="http://vimeo.com/___vimeoID">See the page</a>
</body>
</html>
