<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://iqueue.tv/reset.css">
<link rel="stylesheet" type="text/css" href="http://iqueue.tv/index.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.js"></script>
<title>TV</title>

___ogdata

<script type="text/javascript">
var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-29165301-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();
</script>

<script type="text/javascript">
___playerJS
</script>

</head>
<body>
<div class="screen" id="overlay"><img src="http://iqueue.tv/keys.png" /></div>
<div class="screen" id="queue"></div>

<div class="footer">
<div id="info">
<span id="artist">N/A</span> - <span id="title">N/A</span><br />
<span id="director">N/A</span><br />
<span id="label">N/A</span>
</div>
<img id="logo" src="http://iqueue.tv/logo.png" />
</div>
</body>
</html>
